<div class="row">
  <div class="col-sm-8 col-md-10 col-md-offset-1">
    <div>
      <%= bootstrap_form_for(@membership_application) do |f| %>
        <% if @membership_application.errors.any? %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            The form contains <%= pluralize(@membership_application.errors.count, "error") %>.
            <ul>
              <% @membership_application.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.text_field :address, autofocus: true, hide_label: true, placeholder: "Address", class: 'form-control' %>
        <%= f.text_field :postal_code, hide_label: true, placeholder: "Postal Code", class: 'form-control' %>
        <%= f.text_field :phone, hide_label: true, placeholder: "Phone", class: 'form-control' %>
        <%= f.date_field :date_of_birth, class: 'form-control' %>
        <%= f.text_field :occupation, hide_label: true, placeholder: "Occupation", class: 'form-control' %>
        <%= f.text_field :company_name, hide_label: true, placeholder: "Company Name", class: 'form-control' %>
        <%= f.text_field :company_address, hide_label: true, placeholder: "Company Address", class: 'form-control' %>
        <%= f.text_field :company_postal_code, hide_label: true, placeholder: "Company Postal Code", class: 'form-control' %>
        <%= f.text_field :company_phone, hide_label: true, placeholder: "Company Phone", class: 'form-control' %>
        <%= f.select :membership, [["Gold", "Gold"], ["Silver", "Silver"], ["Bronze", "Bronze"], ["Copper", "Copper"]], { class: 'form-control' } %>
        <%= f.collection_select(:first_sponsor_name, User.where(shareholder: true), :full_name, :full_name, { class: 'dropdown-menu' }) %>
        <%= f.collection_select(:second_sponsor_name, User.where(shareholder: true), :full_name, :full_name, { class: 'dropdown-menu' }) %>
        <%= f.submit "Submit", class: 'btn btn-lg btn-block btn-success' %>
      <% end %>
    </div>
  </div>
</div>
